body {
  background-color: #CDC9C9;
}



.portrait {
  float:right;
  max-width: 250px;
  padding-left: 10px;
  padding-bottom: 5px;

}
.page-header, .sub-header {
  border-bottom: 2px solid #111;
}
p, a, li {
  font-size: 20px !important;
}

.sidebar {
  border-right: 3px solid #111;
}
ul.nav a:hover {
  background-color: #473C8B;
}

.fun-times {
  color: #660000;
  font-family: fantasy;
}

.secret-btn {
  background-color: #CDC9C9;
  color: #CDC9C9;
  float: right;
  cursor: none;
}

.secret-btn:focus {
  outline: none !important;
}

.projects {
  border: 2px solid #111;
  background-color: #3B3178;
}

.project-list-item {
  border: 2px solid #111;
  margin: 10px;
  background-color: #CDC9C9;

  padding-left: 8px;
  margin-left: 1px
}
